.inputZoom{
    border: solid 1px #534d7a;
    border-radius: 5px;
}  
.content{
    background: #ffffff!important;
}

.item-ios.item-label-stacked .text-input{
    margin-left: 8px;
    margin-right: 8px;
}

.item-md.item-label-stacked .text-input{
    margin-left: 8px;
    margin-right: 8px;
}

.text-input-ios{
    margin: 11px 8px 11px 8px;
}

.text-input-md{
    margin: 11px 8px 11px 8px;
}