<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'about-us.AProposdeNous' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img src="assets/imgs/jlsLogo.png" style="width: 60%;">

  <p class="center-text">JLS Import</p>

  <p class="center-text">{{'about-us.Version' | translate}} 0.0.0</p>
  <p>
    <a ion-button target="_blank" href="https://www.jlsimport.fr/">{{'about-us.visiternotresite' | translate}}</a></p>
  <p>
    <a ion-button target="_blank" href="https://www.jlsimport.fr/account/chat">{{'about-us.liveChat' | translate}}</a>
  </p>

  <div class="bottom-text">
    <p>{{'about-us.Email' | translate}} : jlsimport93&#64;gmail.com</p>
    <p>{{'about-us.Adresse' | translate}} : 58 rue du Goulet 93300 Aubervillier</p>
  </div>
</ion-content>