.content{
    background-color: #ffffff!important;
}

img{
    margin-top: 15%;
}

.center-text{
    font-size: small;
}

.bottom-text{
    top:90%;
    position: absolute;
    font-size: x-small;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}