b{
    font-weight: 500;
}
.buttonLine{
    color: black;
    text-decoration: underline;
}
.productCard{
    margin: 0px;
    width: 100%;
    border: 1px solid darkgrey;
}
ion-content{
    background:white!important;
}
.sommeStyle{
    margin-right: 0;
}
.totalCommande{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 8px 0px;
    margin-top: 15px!important;
}
.expenseFont{
    margin: 7px;
    font-weight: 900;
}
.addressStyle{
    padding-bottom: 5px!important;
}
ion-card-header{
    padding-top: 5px;
}