.card{
    margin:0px;
    width: 100%;
}
.AccountDetail{
    //margin-top:30px;
    padding: 10px;
}
.viewAll{
    float: right;
    text-decoration-line: none;
    font-size: 0.7em;
    margin-right: 10px;
}
.iconStyle{
   color:  #717275;
}

ion-card{
    margin:0px;
    width: 100%;
}

ion-content{
   // --background: #E5E6E8!important;
 }