<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/tabMyAccount" slot="start"></ion-back-button>
    <ion-title>{{'forget-password.forgetPassword' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-bottom: 10px;">
    <ion-item>
      <ion-label position="stacked">{{'forget-password.Email' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="email" ></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button color = "primary" expand="block" (click)="sendEmail()">{{'forget-password.sendEmail' | translate}}</ion-button>
  </div>
</ion-content>
