.cardHeader{
    border-bottom: 1px solid darkgrey;
    background-color: white;
}
.descriptionFont{
    margin: 1rem!important;
    font-size: 1rem;
    margin: 8px!important;
}
.detailInfo{
    text-decoration: underline ;
}
